.header {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	font-family: 'Pacifico', Arial, sans-serif;
	h2 {
		font-weight: 300;
		color: white;
	}
	.new-project-btn {
		cursor: pointer;
		position: absolute;
		font-weight: 200;
		left: 4em;
		bottom: 0;
		padding: 0 20px 0px 20px;
		border-radius: 20px 20px 0 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: white;
		color: black;
		font-size: 1.4em;
		transition: 200ms linear;

		.add-icon {
			margin: 0px 0 0 5px;
			font-size: 1em;
			pointer-events: none;
		}
	}
	.active {
		background-color: black;
		color: white;
	}
}

@media (max-width: 1014px) {
	.header {
		justify-content: space-evenly;
		padding-right: 2em;
		.new-project-btn {
			position: relative;
			top: 3px;
			left: 0;
			padding: 0px 12px 2px 12px;
			margin-bottom: 3px;
			align-self: flex-end;

			.add-icon {
				margin: 2px 0 0 7px;
			}
		}
	}
}
