.tools {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	font-family: Roboto, sans-serif;
	&-icon {
		font-size: 2em;
		margin: 0.3em 0;
		cursor: pointer;
		transition: 200ms linear;
		&:hover {
			color: #2d767f;
		}
	}
}
.modal {
	display: none;
	position: absolute;
	text-align: center;
	padding: 0.5em;
	left: -309px;
	width: 300px;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-around;
	color: black;
	-webkit-box-shadow: -7px 6px 18px -12px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -7px 6px 18px -12px rgba(0, 0, 0, 0.75);
	box-shadow: -7px 6px 18px -12px rgba(0, 0, 0, 0.75);
	height: 8em;
	background-color: white;
	border-radius: 5px 0 0 5px;
	span {
		color: white;
		background-color: black;
		opacity: 0.8;
		padding: 2px;
		border-radius: 5px;
		cursor: pointer;
		&:hover {
			opacity: 1;
		}
	}
	//font modal
	.Roboto {
		font-family: Roboto, Arial;
	}
	.Raleway {
		font-family: Raleway, Arial;
	}
	p {
		padding: 1em;
		cursor: pointer;
		&:hover {
			background-color: black;
			color: white;
		}
	}
	//colors modal
	.color-modal {
		display: flex;
		justify-content: space-evenly;
		.color {
			padding: 1em;
			cursor: pointer;
		}
		.default {
			background-color: #168d8d;
		}
		.red {
			background-color: #cb464a;
		}
	}

	.modal-icon {
		cursor: pointer;
		img {
			max-width: 100%;
		}
		width: 50px;

		height: 50px;
	}
}
.modal-icons-container {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: row;
}
.modal-parent {
	position: relative;
}

@media (max-width: 1014px) {
	.tools {
		flex-direction: row;
		justify-content: space-evenly;
		&-icon {
			font-size: 2.2em;
		}
	}

	.modal {
		left: -50px;
		top: 60px;
		border-radius: 0 0 0 5px;
	}
	.color-modal-outter {
		left: -70px !important;
	}
	.modal-font {
		left: -100px !important;
	}
}
